.QuestionSection {

}

.QuestionSection {
    border: 5px solid #000;
    height: 30px;
    position: relative;
    box-sizing: border-box;
}

.QuestionSection::after {
    content: " ";
    display: block;
    position: absolute;
    height: 5px;
    background: black;
    width: 40px;
    left: 100%;
    top: calc(50% - 2px);
}

.QuestionSection::before {
    content: " ";
    display: block;
    position: absolute;
    height: 20px;
    background: black;
    width: 20px;
    border-radius: 10px;
    right: 100%;
    top: calc(50% - 2px);
    margin-right: 20px;
}
