.name {
    font-size: 20px;
}

.name::before {
    content: "\2014\00A0"
}

.name::after {
    content: "\2014\00A0"
}

.message {
    font-size: 32px;
}

.testimonialContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.testimonial {
    min-width: 100%;
}

@media (max-width: 500px) {
    .message {
        font-size: 20px;
    }
}
